[submodule "php"]
	path = php
	url = https://github.com/opscode-cookbooks/php.git
[submodule "build-essential"]
	path = build-essential
	url = https://github.com/opscode-cookbooks/build-essential.git
[submodule "xml"]
	path = xml
	url = https://github.com/opscode-cookbooks/xml.git
[submodule "mysql"]
	path = mysql
	url = https://github.com/opscode-cookbooks/mysql.git
[submodule "composer"]
	path = composer
	url = https://github.com/zircote/chef-composer.git
[submodule "openssl"]
	path = openssl
	url = https://github.com/opscode-cookbooks/openssl
